<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Antonio Casquero Jimenez y Carlos Bravo Abalos
</p>

<img src="/images/homer.jpg" />
<p> Link: <a href=https://github.com/casquero> Pinche aqui para acceder </a> </p>


